## Deliverable 2. Create a Customer Travel Destinations Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np 

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/fanfan/Desktop/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Marsabit,KE,2.3284,37.9899,69.75,52,57,15.64,broken clouds
1,1,Cape Town,ZA,-33.9258,18.4232,57.11,81,0,4.61,clear sky
2,2,Namibe,AO,-15.1961,12.1522,68.59,60,1,6.38,clear sky
3,3,Bambous Virieux,MU,-20.3428,57.7575,74.21,64,40,12.66,scattered clouds
4,4,Talnakh,RU,69.4865,88.3972,61.21,34,6,12.50,clear sky

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
16,16,Bandarbeyla,SO,9.4942,50.8122,89.08,44,93,33.89,overcast clouds
22,22,Umm Kaddadah,SD,13.6017,26.6876,83.17,49,91,11.12,overcast clouds
28,28,Lodwar,KE,3.1191,35.5973,85.21,42,17,8.93,few clouds
40,40,Matara,LK,5.9485,80.5353,81.52,82,98,14.25,overcast clouds
48,48,Kudahuvadhoo,MV,2.6708,72.8944,83.16,76,98,10.04,overcast clouds
57,57,Yarada,IN,17.6500,83.2667,86.32,70,75,6.91,moderate rain
60,60,Muli,MV,2.9167,73.5667,82.94,78,95,10.76,overcast clouds
65,65,Kavaratti,IN,10.5669,72.6420,82.72,78,100,22.73,heavy intensity rain
71,71,Marsa Matruh,EG,31.3525,27.2453,82.42,53,0,7.81,clear sky
74,74,Bibbiena,IT,43.6965,11.8135,83.95,37,0,4.59,clear sky

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                135
City                   135
Country                135
Lat                    135
Lng                    135
Max Temp               135
Humidity               135
Cloudiness             135
Wind Speed             135
Current Description    135
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df= preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
16,16,Bandarbeyla,SO,9.4942,50.8122,89.08,44,93,33.89,overcast clouds
22,22,Umm Kaddadah,SD,13.6017,26.6876,83.17,49,91,11.12,overcast clouds
28,28,Lodwar,KE,3.1191,35.5973,85.21,42,17,8.93,few clouds
40,40,Matara,LK,5.9485,80.5353,81.52,82,98,14.25,overcast clouds
48,48,Kudahuvadhoo,MV,2.6708,72.8944,83.16,76,98,10.04,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
671,671,Dawlatabad,AF,36.4141,64.9053,88.70,17,0,10.47,clear sky
675,675,Tshikapa,CD,-6.4167,20.8000,83.95,23,33,5.10,scattered clouds
676,676,Goure,NE,13.9835,10.2704,83.01,44,11,13.00,few clouds
679,679,Krasnovka,RU,48.8177,40.0923,83.03,36,0,7.40,clear sky
683,683,Jumla,NP,29.2747,82.1838,81.46,58,15,7.87,few clouds

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
16,Bandarbeyla,SO,89.08,overcast clouds,9.4942,50.8122,
22,Umm Kaddadah,SD,83.17,overcast clouds,13.6017,26.6876,
28,Lodwar,KE,85.21,few clouds,3.1191,35.5973,
40,Matara,LK,81.52,overcast clouds,5.9485,80.5353,
48,Kudahuvadhoo,MV,83.16,overcast clouds,2.6708,72.8944,
57,Yarada,IN,86.32,moderate rain,17.6500,83.2667,
60,Muli,MV,82.94,overcast clouds,2.9167,73.5667,
65,Kavaratti,IN,82.72,heavy intensity rain,10.5669,72.6420,
71,Marsa Matruh,EG,82.42,clear sky,31.3525,27.2453,
74,Bibbiena,IT,83.95,clear sky,43.6965,11.8135,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f"Hotel not found... skipping.{index}")

Hotel not found... skipping.22
Hotel not found... skipping.186
Hotel not found... skipping.239
Hotel not found... skipping.247
Hotel not found... skipping.280
Hotel not found... skipping.298
Hotel not found... skipping.316
Hotel not found... skipping.332
Hotel not found... skipping.369
Hotel not found... skipping.376
Hotel not found... skipping.399
Hotel not found... skipping.408
Hotel not found... skipping.465
Hotel not found... skipping.470
Hotel not found... skipping.520
Hotel not found... skipping.550
Hotel not found... skipping.576
Hotel not found... skipping.577
Hotel not found... skipping.594
Hotel not found... skipping.604
Hotel not found... skipping.609
Hotel not found... skipping.616
Hotel not found... skipping.660
Hotel not found... skipping.676
Hotel not found... skipping.679

In [20]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
16,Bandarbeyla,SO,89.08,overcast clouds,9.4942,50.8122,JABIR HOTEL
22,Umm Kaddadah,SD,83.17,overcast clouds,13.6017,26.6876,
28,Lodwar,KE,85.21,few clouds,3.1191,35.5973,Solmar Gracious Hotel
40,Matara,LK,81.52,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
48,Kudahuvadhoo,MV,83.16,overcast clouds,2.6708,72.8944,Niyama Private Islands Maldives

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
market_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(market_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))